<html>
    <head>

    </head>
    <body>
        <h1>Make a New Post</h1>
        <form class="postCreationForm" action="/posts/submit" method="post">
            <div class="inputSection">
                <span>Post Title:</span>
                <input type="text" name="postTitle">
            </div>
            <div class="inputSection">
                <span>Post Category:</span>
                <input type="text" name="category">
            </div>
            <div class="inputSection">
                <input type="textbox" name="contents">
            </div>
            <button>Submit</button>
        </form>
    </body>
</html>